@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Swiss Re PowerBI Rest Data Reader</h1>
    <input id="myButton1" type="button" value="Call C# Static Method" />
</div>
